* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 10px;
    width: 100%;
    background-color: black;
}

#menu a {
    color: #fff;
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}