* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --light-dark-color: #fff;
    --dark-light-color: #000;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #f00;
    border-radius: 50px;
}

body {
    background: #000;
}

#menu {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-color: black;
    z-index: 100;
}

#menu a,button {
    padding: 20px;
}

#btn-nav {
    background: none;
    border: none;
    color: #fff;
}

#navigator {
    width: 100%;
    margin-top: 210px;
    position: absolute;
    display: none;
    flex-wrap: wrap;
    background: #000000db;
} 

#navigator a{
    width: 100%;
    padding: 10px 20px;
}

#menu a {
    color: #fff;
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}

#navigator a:hover {
    background: #fff;
    color: #000;
}

#switch-theme {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: var(--dark-light-color);
    color: var(--light-dark-color);
    border: none;
    border-radius: 5px;
}

#inici {
    position: relative;
    height: 100vh;
}

#inici img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#portada {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%,-50%);
    background: #000000b4;
    color: #ffffff;
    padding: 30px;
    border-radius:10px;
    animation: textGoUp 2s;
}

@keyframes textGoUp {
    from {
        top: 100%;
        color: rgb(255, 77, 0);
        opacity: 0;
    }
    to {
        top: 50%;
    }
}

#portada h1 {
    font-weight: 100;
}

#portada h1 b {
    color: #f00;
    font-weight: bold;
}

section {
    padding: 70px 20px;
}

#nosaltres {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--dark-light-color);
    background: var(--light-dark-color);
}

.slide-toggle {
    cursor: pointer;
}

.float-container img {
    width: 100%;
}

#carta {
    color: #fff;
}

.grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: 50px max-content 1fr max-content 1fr;
    gap: 10px;
    height: 100%;
}

.grid-container * {
    border: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu-title {
    color: var(--dark-light-color);
    background: var(--light-dark-color);
    grid-column: span 3;
}

.menu-name {
    background: #a50303;
    grid-column: span 3;
}

.menu-content {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    grid-column: span 3;
    padding: 20px;
}

.menu-content * {
    border: none;
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carta-img {
    position: relative;
    grid-column: span 3;
    width: 100%;
    height: 200px;
    
}

.carta-img img {
    position: absolute;
    transition: all 1s;
}

.carta-img ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: none;
}

.carta-img ul li {
    border: none;
}

.carta-img:hover img{
    transform: rotate3d(1,0,0,90deg) scale(0.5);
    opacity: 0;
}

.carta-img:hover span{
    top: 0;
    height: 10px;
}

.carta-img span {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5% 0;
    background: #000000c3;
    border: none;
}

#galeria {
    color: var(--dark-light-color);
    background: var(--light-dark-color);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.flex-container div {
    width: 100%;
}

.galery-img-container:hover img{
    transform: 
      scale(2)
      rotate(35deg);
    filter: grayscale();
}

.galery-img-container img {
    width: 100%;
    height: 100%;
    border: 1px solid #bbb;
    padding: 5px;
    object-fit: cover;
    transition: all 2s;
}

.galery-img-container {
    position: relative;
    overflow: hidden;
}

.galery-img-container::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "";
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.galery-img-container:nth-child(1)::before,.galery-img-container:nth-child(4)::before,.galery-img-container:nth-child(5)::before,.galery-img-container:nth-child(8)::before{
    background: #00000081;
}

.galery-img-container:hover::before {
    background: #00000081;
}

footer {
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    gap: 20px;
}

footer span {
    display: none;
}

.email:hover .rotate3D-target {
    animation: rotate3DAnimation 1s infinite;
}

@keyframes rotate3DAnimation {
    from {transform: scaleX(1);}
    to {transform: scaleX(-1);}
}

@media (prefers-color-scheme: dark) {
    :root {
        --light-dark-color: #111;
        --dark-light-color:#fff;
    }
}

@media only screen and (min-width: 567px) {
    .menu-name {
        grid-row: span 3;
        grid-column: span 1;
    }

    .menu-content {
        grid-column: span 2;
    }

    .carta-img {
        grid-column: span 2;
    }

    .flex-container div {
        width: 48%;
    }
}

@media only screen  and (min-width: 768px) {

    section {
        padding: 70px 20%;
    }

    #btn-nav {
        display: none;
    }

    #navigator {
        width: auto;
        margin: 0;
        position: unset;
        display: flex;
        justify-content: flex-end;
        background: none;
    }

    #navigator a {
        width: min-content;
    }

    #navigator a:hover {
        background: none;
        color: #fff;
    }

    #portada {
        width: 50%;
    }

    .float-container {
        width: 100%;
        height: 200px;
    }
    
    .float-container img {
        width: 250px;
    }
    
    .float-container:nth-child(1) img{
        float: left;
        margin-right: 20px;
    }

    .float-container:nth-child(2) img{
        float: right;
        margin-left: 20px;
    }

    .menu-name {
        grid-row: span 2;
        grid-column: span 1;
    }

    .menu-content {
        grid-column: span 2;
    }

    .carta-img {
        grid-column: span 1;
    }

    #galeria {
        height: max-content;
        padding: 70px 10px;
    }

    #galeria h2 {
        padding: 0px 20%;
    }

    .flex-container div {
        width: 300px;
    }

    footer {
        flex-wrap: wrap;
    }

    footer span {
        display: inline;
        width: 100%;
        margin-top: 10px;
        text-align: right;
    }
}